<html>
<head>
	<title></title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<style type="text/css">
	*{
		font-family: helvetica;
		margin: 0 auto;
	}

	.container{
		width: 850px;
		height: 600px;
		border: 1px solid black;
		padding: 50px;
	}
	.submitbtn{
		margin-left: 350px;
		width: 70px;
	}
	.errors{
		overflow-y: auto;
		height:100px;
	}
</style>

<body>
	<div class="container">
		<h1>Welcome to Secrets! Register Here!</h1><br>
		<form action="/users/create" method="post" class="form-horizontal">
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
			<div class="form-group">
			    <label for="inputEmail3" class="col-sm-2 control-label">Email: </label>
			    <div class="col-sm-5">
			      	<input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email">
			    </div>
			</div>
			<div class="form-group">
			    <label for="inputName3" class="col-sm-2 control-label">Name: </label>
			    <div class="col-sm-5">
			      	<input type="text" name="name" class="form-control" id="inputName3" placeholder="Name">
			    </div>
			</div>
			<div class="form-group">
			    <label for="inputPassword3" class="col-sm-2 control-label">Password: </label>
			    <div class="col-sm-5">
			      	<input type="password" name="password" class="form-control" id="inputPassword3" placeholder="at least 8 characters">
			    </div>
			</div>
			<div class="form-group">
			    <label for="inputPasswordConfirm3" class="col-sm-2 control-label">Password Confirmation: </label>
			    <div class="col-sm-5">
			      	<input type="password" name="password_confirmation" class="form-control" id="inputPasswordConfirm3">
			    </div>
			</div>
			<input type="submit" value="Join" class="btn btn-info submitbtn">
		</form><br><br>

		<a href="/sessions/new">Already a Member? Log in here</a><br><br>

		<div class="errors">
			<% flash[:errors].each { |error| %>
				<p style="color:red"><%= error %></p>
			<% } if flash[:errors] %>
		</div>

	</div>
</body>
</html>